# Dependências (qualquer nível)
**/node_modules/

# Logs, caches, builds comuns em Node
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
.cache/
dist/
build/
.out/
.next/
.nuxt/
coverage/
.tmp/
.temp/
.DS_Store

# Variáveis de ambiente
.env
.env.*